@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-latrobe-light-header {
  background-color: #e2231b;

}

.bg-latrobe-dark-header {
  background-color: #242424;
}

.bg-latrobe-light-navlinks {
  background-color: #e2231b;

}

.bg-latrobe-light-navlinks:hover {
  background-color: #88140e;

}

.bg-latrobe-dark-navlinks {
  background-color: #242424;
}

.bg-latrobe-dark-navlinks:hover {
  background-color: #444444;
}

.hamburger-label {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: 36px;
  height: 30px;
  cursor: pointer;
  user-select: none;
}

.hamburger-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.hamburger-bar {
  display: block;
  height: 4px;
  background-color: var(--foreground);
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  /* No absolute/relative positioning here */
}

/* Spacing bars evenly */
.bar-top,
.bar-mid,
.bar-bottom {
  width: 100%;
}

/* Checkbox hidden, so let's target based on checked state */
input[type="checkbox"]:checked+label .bar-top {
  transform: translateY(12.5px) rotate(45deg);
}

input[type="checkbox"]:checked+label .bar-mid {
  opacity: 0;
}

input[type="checkbox"]:checked+label .bar-bottom {
  transform: translateY(-12.5px) rotate(-45deg);
}


.fg-latrobe-light {
  color: #fefefe;
}

.fg-latrobe-dark {
  color: #fefefe;
}


.bg-latrobe-dark-footer {
  background-color: #242424;
}

.bg-latrobe-light-footer {
  background-color: #e2231b;
}

.checkbox-label {
  font-size: 1rem;
  /* 👈 change this to scale */
  border: .125em solid currentColor;
  border-radius: 2em;
  cursor: pointer;
  display: block;
  height: 2em;
  position: relative;
  width: 3.75em;
}

.checkbox-label span {
  background-color: currentColor;
  border-radius: 2em;
  display: block;
  height: 1.5em;
  left: .15em;
  overflow: hidden;
  position: absolute;
  top: .15em;
  text-indent: -9999px;
  transition: left .25s;
  width: 1.5em;
  z-index: 2;
}

.checkbox-label::before,
.checkbox-label::after {
  content: '';
  display: block;
  border-radius: 1em;
  position: absolute;
  z-index: 1;
}

.checkbox-label::after {
  box-shadow: .25em .25em #5901d8;
  height: 1.125em;
  right: .9em;
  top: .125em;
  width: 1.125em;
}

.checkbox-label::before {
  background-color: #ffc409;
  height: .625em;
  outline: .25em dotted #ffc409;
  outline-offset: .125em;
  left: .7em;
  top: .7em;
  width: .625em;
}

input:checked~.checkbox-label span {
  left: 1.8em;
}
